{% extends 'base.html' %}

{% block body %}
    {% block header %}
        <div>
        pybb3 yourdomain.com [search]
        </div>
    {% endblock %}

    {% block above %}
        <div>
            FAQ Register Login
        </div>
        <div>
            <a href="{{ board_index_url() }}">Board Index</a>
        </div>
    {% endblock %}

    {% include 'includes/messages.html' %}

    {% block content %}
        <div>
            Nothing here
        </div>
    {% endblock %}

    {% block below %}
        <div>
        Login / Register
        </div>
        <div>
        Who is online
        </div>
        <div>
        Statistics
        </div>
    {% endblock %}

    {% block footer %}
        <div>
        <a href="{{ board_index_url() }}">Board Index</a>  The Team
        </div>
    {% endblock %}

    {% block powered_by %}
        Powered by pybb3
    {% endblock %}

{% endblock %}
