{% extends 'layout.html' %}


{% block content %}
    <a href="{{ topic.url() }}">{{ topic.title }}</a><br/>

    <table>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>
                <span class='post-subject'>
                    {{ post.subject }}
                </span><br/>
                <span class='post-text'>
                    {{ post.text }}
                </span>
            </td>
        </tr>

    {% else %}
        <tr>
            <td>
            No posts
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{{ url_for('post.new_post', topic=topic) }}">New Post</a>
{% endblock %}
